<template>
  <div class="app-menu min-vh-100">
    <b-img
      src="../assets/buu.png"
      width="100%"
      class="pt-2 pb-2"
      center
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="about">About</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput"
        >Form Input
        <b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./FormInput1"
        >Form Input 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./FormInput2"
        >Form Input 2</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./FormInput3"
        >Form Input 3</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./FormInput4"
        >Form Input 4</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showFormInput" to="./FormInput5"
        >Form Input 5</b-nav-item
      >

      <b-nav-item @click="showForm = !showForm"
        >Form
        <b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showForm" to="./Form1"
        >Form 1</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showForm" to="./Form2"
        >Form 2</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showForm" to="./Form3"
        >Form 3</b-nav-item
      ><b-nav-item class="sub-menu" v-if="showForm" to="./Form4"
        >Form 4</b-nav-item
      >
      <b-nav-item @click="showCRUDExample = !showCRUDExample"
        >CRUD Example
        <b-icon
          :icon="showCRUDExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showCRUDExample" to="./DataTable1"
        >Data table 1</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showCRUDExample" to="./productform1"
        >Product Form 1</b-nav-item
      >
       <b-nav-item class="sub-menu" v-if="showCRUDExample" to="./productTable"
        >Product Table</b-nav-item
      >
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCRUDExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
  font-size: 10pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  color: white;
  text-align: left;
}
.nav-link:hover {
  color: gold;
}
</style>
